body {
    background: #DDE6ED;
}

h1, h2 {
    font-family: serif;
}

/* Header and Navbar */

#header {
    background-color: #27374D;
}

#header a {
    color: white;
}

#header a:active {
    background-color: rgb(149, 149, 149);
}

.nav-pills .nav-link.active {
    background-color: #526D82;
}

/* Hero */

#hero img {
    border-radius: 15px;
}

/* Features Section */

.contain-container #feature-row{
    text-align: center;
}

#features img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/* Contact Page Contact Card */

#contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 75vh;
    flex: 1;
}

#contact-card .bg-white {
    border: 2px solid black;
    height: 25vh;
}

#contact-card .pic-name {
    width: 45%;
    float: left;
}

#contact-card .contact-info {
    width: 50%;
    float: right;
    padding-left: 30px;
    padding-top: 20px;
}

#contact-card h1 {
    font-size:larger;
}

/* Footer */
